<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Squad Up</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body ng-controller="NavController as navCtrl">

  <ul id="logged-out-dropdown" class="dropdown-content">
    <li><a ui-sref="login">Log In</a></li>
    <li><a ui-sref="signup">Sign Up</a></li>
  </ul>

  <ul id="logged-in-dropdown" class="dropdown-content">
    <li><strong><p class="center-align">{{navCtrl.getUser().name}}</p></strong></li>
    <li class="divider"></li>
    <li><a ng-click="navCtrl.logout()">Log Out</a></li>
  </ul>

  <!-- Add Game Modal -->
  <div id="demoModal" class="modal">
    <div id="add-game-modal" class="modal-content">
      <h4 class="center-align"><strong>Add A Game</strong></h4>
      <form ng-submit="navCtrl.addGame()">
        <div class="row">
          <div class="col s6">
            <label for="game_name">Name Of Game</label>
            <input ng-model="navCtrl.gameName" maxlength="25" type="text" id="game_name" required><br>
            <label for="game_platform">Platform</label>
            <select id="game_platform" ng-model="navCtrl.system">
              <option value="" disabled selected>Choose your option</option>
              <option value="Steam">Steam</option>
              <option value="PC">PC</option>
              <option value="Xbox One">Xbox One</option>
              <option value="Playstation 4">Playstation 4</option>
              <option value="Wii U">Wii U</option>
              <option value="Xbox 360">Xbox 360</option>
              <option value="Playstation 3">Playstation 3</option>
              <option value="3DS">Nintendo 3DS</option>
            </select><br><br>
            <label for="game_desc">Description(40 Char limit)</label>
            <input ng-model="navCtrl.desc" maxlength="40" type="text" id="game_desc" required>
          </div>
          <div class="col s6">
            <label for="game_lang">Language</label>
            <input ng-model="navCtrl.lang" type="text" id="game_lang" maxlength="15" required><br>
            <label for="game_mic">Microphone Required?</label>
            <select id="game_mic" ng-model="navCtrl.micReq">
              <option value="" disabled selected>Choose your option</option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
            <br><br>
            <label for="gamer_tag">Gamer Name</label>
            <input ng-model="navCtrl.gamerId" maxlength="20" type="text" id="gamer_tag" required>
          </div>
          <div id="new-game-submit">
            <button id="new-game-submit-btn" class="btn waves-effect waves-light modal-action modal-close" type="submit" name="action">
              <i class="material-icons right">note_add</i> Add Game
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!/mygames" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  </div>

  <div class="navbar-fixed">
    <nav id="main-nav" class="">
      <div class="nav-wrapper">
        <ul class="left">
          <li>&nbsp;&nbsp;<a ui-sref="home" id="brand-name" class="left brand-logo">Squad Up</a></li>
        </ul>
        <ul class="right">
          <li><a ui-sref="home" ng-hide="navCtrl.isLoggedIn()">All Games</a></li>
          <li ng-show="navCtrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="home">All Games</a></li>
          <li ng-show="navCtrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="mygames">My Games</a></li>
          <li ng-show="navCtrl.isLoggedIn()" ui-sref-active="active"><a id="add-game-btn" class='' data-target='demoModal' modal>Add Game</a></li>
          <li ng-hide="navCtrl.isLoggedIn()"><a class="dropdown-button" href="#!" data-activates="logged-out-dropdown"><i class="material-icons right">perm_identity</i></a></li>
          <li ng-show="navCtrl.isLoggedIn()"><a class="dropdown-button" href="#!" data-activates="logged-in-dropdown"><i class="material-icons right">perm_identity</i></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <br>
  <!-- Side Nav -->
  <div class="row">
    <div id="filter-nav-wrap">
    <form action="" id="side-nav" ng-hide="navCtrl.isState('signup')">
      <div class="input-field" ng-hide="navCtrl.isState('login')">
        <div class="col l4 s12">
        <p>Search For A Game</p>
        <input placeholder="Halo..." id="first_name" type="text" class="validate" ng-model="search.gameName">
        </div>
        <div class="col l4 s12">
        <p>Select A Platform</p>
        <select class="form-control" ng-model="navCtrl.filterSystem">
          <option value="all">All</option>
          <option ng-repeat="system in navCtrl.uniqueSystems" value="{{system}}">{{system}}</option>
        </select>
        </div>
        <div class="col l4 s12">
        <p>Microphone Required?</p>
        <select ng-model="navCtrl.filterMic" ng-change="navCtrl.timeout()">
          <option value="all">All</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
        </div>
      </div>
      <br>
      <!-- <div ng-show="navCtrl.isState('mygames')">
        <a class='btn' data-target='demoModal' modal>Add Game</a>
      </div> -->
    </form>
    </div>
  </div>

  <!-- <div classng-show="navCtrl.isState('mygames')">
    <a class='btn' data-target='demoModal' modal>Add Game</a>
  </div> -->
  <div class="row">
    <div ui-view id="ui-view-id" class="col s12"></div>
  </div>
  <script>
    $(document).ready(function() {
      // $('select').material_select();
    });

    $(document).ready(function(){
      $('.modal').modal();
    });
  </script>

  <script src="javascripts/app.js"></script>
  <script src="/javascripts/controllers/nav-controller.js"></script>
  <script src="/javascripts/controllers/index-controller.js"></script>
  <script src="/javascripts/controllers/game-controller.js"></script>
  <script src="/javascripts/controllers/user-controller.js"></script>
  <script src="/javascripts/services/auth-interceptor.js"></script>
  <script src="/javascripts/services/email-service.js"></script>
  <script src="/javascripts/services/token-service.js"></script>
  <script src="/javascripts/services/user-service.js"></script>
  <script src="/javascripts/services/games-resource.js"></script>
</body>
</html>
