<h1 class="center-align">All Games</h1>
<div class="idfk">
<div class="row">
  <div id="game-card" class="card medium col s2" ng-repeat="game in games track by $index">
    <img class="game-image" src="http://placehold.it/350x150" alt="">
    <h5 class="inline">{{game.gameName}}</h5>
    <p class="inline">{{game.system}}</p>
    <p>{{game.lang}}</p>
    <p>{{game.desc}}</p>
    <p>{{game.playTime}}</p>
    <p>Microphone required | {{game.micReq ? 'Yes' : 'No'}}</p>
    <p>{{game.gamerId}}</p>
    <a ng-click="gameCtrl.deleteGame(game)" class="secondary-content"><i class="material-icons">delete</i></a>
  </div>
</div>
</div>

