#game-card {
  margin: 20px;
  width: 300px;
}

/*#side-nav {
  position: fixed;
}*/

.game-image {
  position: relative;
  width: 100%;
}

.inline {
  display: inline-block;
}

.idfk {
  margin: 0 auto;
}

