<br>
<br>
<br>
<br>
<div class="row">
  <div class="col s3"></div>
  <form ng-submit="userCtrl.login()" class="col s4">
    <h1 class="center-align">Log In</h1>
    <div class="input-field">
      <input ng-model="userCtrl.user.email" autocomplete="off" id="email" type="email" required>
      <label for="email">Email</label>
    </div>
    <div class="input-field">
      <input ng-model="userCtrl.user.password" autocomplete="off" id="password" type="password" required>
      <label for="password">Password</label>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">
        <i class="material-icons right"></i> Log In
    </button>
  </form>
  <div class="col s6"></div>
</div>
