<br>
<br>
<br>
<div class="login-signup-wrap">
  <form ng-submit="userCtrl.login()" class="">
    <h1 class="center-align">Log In</h1>
    <br>
    <div class="input-field">
      <input ng-model="userCtrl.user.email" autocomplete="off" id="email" type="email" required>
      <label for="email">Email</label>
    </div>
    <div class="input-field">
      <input ng-model="userCtrl.user.password" autocomplete="off" id="password" type="password" required>
      <label for="password">Password</label>
    </div>
    <br>
    <div class="inline-margin-btns">
      <button class="btn waves-effect waves-light" type="submit" name="action">
          <i class="material-icons right"></i> Log In
      </button>
    </div>
  </form>
</div>
