<br>
<br>
<br>
<div class="login-signup-wrap">
  <div class=""></div>
  <form ng-submit="userCtrl.signup()" class="">
  <h1 class="center-align">New Account</h1>
    <div class="input-field">
      <input ng-model="userCtrl.user.name" autocomplete="off" id="name" type="text" required>
      <label for="name">Name</label>
    </div>
    <div class="input-field">
      <input ng-model="userCtrl.user.email" autocomplete="off" id="email" type="email" required>
      <label for="email">Email</label>
    </div>
    <div class="input-field">
      <input ng-model="userCtrl.user.password" autocomplete="off" id="password" type="password" required>
      <label for="password">Password</label>
    </div>
    <br>
    <div class="inline-margin-btns">
      <button class="btn waves-effect waves-light" type="submit" name="action">
        <i class="material-icons right"></i> Sign Up
      </button>
    </div>
  </form>
  <div class=""></div>
</div>



