<h3 class="center-align">My Games</h3>
<!-- Modal Trigger -->
<!-- <div class="col">
    <a class='btn' data-target='demoModal' modal>Add Game</a>
</div> -->
<div class="row">
  <div id="game-card" class="card medium col s2" ng-repeat="game in gameCtrl.games | filter:search:strict track by $index">
    <!-- <img class="game-image" src="http://placehold.it/350x150" alt=""> -->
    <div class="game-image">
    <h4 id="card-game-title" class="margin-auto">{{game.gameName}}</h4>
    </div>
    <a ng-click="gameCtrl.deleteGame(game._id)" id="del-btn" class="secondary-content"><i class="material-icons">delete</i></a>
    <p>Platform: {{game.system}}</p>
    <p>{{game.gamerId}}</p>
    <hr>
    <p>Description: {{game.desc}}</p>
    <!-- <p>{{game.playTime}}</p> -->
    <small><p>Microphone required | {{game.micReq ? 'Yes' : 'No'}}</p></small>
    <small><p>Language: {{game.lang}}</p></small>
    <small><p class="inline">Created At: {{game.date}}</p></small>
    <a id="msg-btn" ng-hide="navCtrl.isState('mygames')" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">email</i></a>
  </div>
</div>
<!-- <div class="row">
  <div id="game-card" class="card medium col s2 game-{{game._id}}" ng-repeat="game in user_games.data | filter:search:strict track by $index">
    <img class="game-image" src="http://placehold.it/350x150" alt="">
    <a ng-click="gameCtrl.deleteGame(game._id)" class="secondary-content"><i class="material-icons">delete</i></a>
    <h5 class="inline">{{game.gameName}}</h5>
    <p class="inline">{{game.system}}</p>
    <p>{{game.lang}}</p>
    <p>{{game.desc}}</p>
    <p>{{game.playTime}}</p>
    <p>Microphone required | {{game.micReq ? 'Yes' : 'No'}}</p>
    <p>{{game.gamerId}}</p>
  </div>
</div> -->
<br>
<!-- Modal Structure -->
<!-- <div id="demoModal" class="modal">
  <div class="modal-content">
    <p class="center-align">Add a game</p>
    <div class="row">
      <form ng-submit="gameCtrl.addGame()" class="col s4">
        <label for="game_name">Name Of Game</label>
        <input ng-model="gameCtrl.gameName" type="text" id="game_name" required>
        <label for="game_sys">System</label>
        <input ng-model="gameCtrl.system" type="text" id="game_sys" required>
        <label for="play_time">Play Times</label>
        <input ng-model="gameCtrl.playTime" type="text" id="play_time" required>
        <label for="game_desc">Description</label>
        <input ng-model="gameCtrl.desc" type="text" id="game_desc" required>
        <label for="game_lang">Language</label>
        <input ng-model="gameCtrl.lang" type="text" id="game_lang" required>
        <select ng-model="gameCtrl.micReq">
          <option value="" disabled selected>Microphone Required?</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
        <br>
        <label for="gamer_tag">Gamer Name</label>
        <input ng-model="gameCtrl.gamerId" type="text" id="gamer_tag" required>
        <button class="btn waves-effect waves-light modal-action modal-close" type="submit" name="action">
          <i class="material-icons right">note_add</i> Add Game
        </button>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!/mygames" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div> -->

<script>
  $(document).ready(function() {
    $('select').material_select();
  });

  // $(document).ready(function(){
  //   // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  //   $('.modal').modal();
  // });
</script>
