<!-- <h3 class="center-align-h3">My Games</h3> -->
<div id="odiv" class="row">
  <div id="game-card" class="card medium col s2" ng-repeat="game in gameCtrl.games | filter:search:strict | filter:navCtrl.filter() | orderBy: 'created_at':true track by $index">
    <div class="game-image">
    <h4 id="card-game-title" class="margin-auto">{{game.gameName}}</h4>
    </div>
    <a ng-click="gameCtrl.deleteGame(game._id)" id="del-btn" class="secondary-content"><i class="material-icons">delete</i></a>
    <h6 class="platform-name"><strong>Platform:</strong> {{game.system}}</h6>
    <h6 platform-name><strong>Gamertag:</strong> {{game.gamerId}}</h6>
    <hr>
    <p><strong>Description:</strong> {{game.desc}}</p>
    <div class="info-stack">
      <small><p id="mic-req-p"><strong>Microphone required |</strong> {{game.micReq ? 'Yes' : 'No'}}</p></small>
      <small><p class="lang-creat-margin"><strong>Language:</strong> {{game.lang}}</p></small>
      <small><p class="inline lang-creat-margin"><strong>Created:</strong> {{game.date | date:'fullDate'}}</p></small>
    </div>
    <a id="msg-btn" ng-hide="navCtrl.isState('mygames')" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">email</i></a>
  </div>
</div>
<br>
